on:
  push:
    tags: [v*.*.*]

name: release
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17.x
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Build docker image
      run: |
        make docker-build
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        registry: docker.io
        username: ${{ secrets.WGE_DOCKER_IO_USER }}
        password: ${{ secrets.WGE_DOCKER_IO_PASSWORD }}
    - name: Push image to docker registry
      run: |
        make docker-push

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest    
    needs: build
    steps:
    - name: Build changelog
      id: github_release
      uses: mikepenz/release-changelog-builder-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        prerelease: true
        body: ${{steps.github_release.outputs.changelog}}
        